In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import glob

Download a content of TG channel manually.
If you have a Mac Pro, you can download a content

In [25]:
text = []
for file in glob.glob("/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages*.html"):
#for file in glob.glob("/Users/Oksana/Downloads/TELEGRAMS_CHATS_RU/ChatExport_2023-01-13 Росич | Rosich/messages*.html"):
    print(file)

    with open(file, 'r') as f:
        html = f.read()

    soup = BeautifulSoup(html, 'html.parser')

    time_parent = soup.find_all('div', class_='message default clearfix joined')

    for i in time_parent:
        time_t = i.find('div', class_='pull_right date details').text
        time_tt = i.find('div', class_='pull_right date details').get('title')

        if i.find('div', class_='text'):
            text_t = i.find('div', class_='text').text
        else:
            text_t = ''

        dict_d = {
            'time': time_t,
            'time_tt': time_tt,
            'text': text_t
        }

        text.append(dict_d)

/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages48.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages33.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages25.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages13.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages44.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages2.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages29.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages28.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages3.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages45.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages12.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages24.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages32.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages49.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages15.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages42.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages4.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages39.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages19.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages35.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages8.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages23.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages22.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages9.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages34.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages18.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages38.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages5.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages43.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages14.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages6.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages40.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages17.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages21.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages37.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages36.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages20.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages16.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages41.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages7.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages27.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages31.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages46.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages11.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages10.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages47.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages30.html
/Users/Oksana/Downloads/Telegram Desktop/ChatExport_2023-11-10/messages26.html

In [26]:
df = pd.DataFrame(text)
df

,time,time_tt,text
0,\n19:27\n,13.10.2023 19:27:47 UTC+01:00,"\nМинздрав сектора Газа сообщил, что эвакуируе..."
1,\n22:26\n,13.10.2023 22:26:55 UTC+01:00,\nПолитическая кафедра западного университета ...
2,\n22:30\n,13.10.2023 22:30:34 UTC+01:00,\nА Мерседес не хочет уйти с Израильского рынк...
3,\n06:01\n,14.10.2023 06:01:25 UTC+01:00,\nНетаньяху: действия Израиля в секторе Газа —...
4,\n09:09\n,14.10.2023 09:09:06 UTC+01:00,
...,...,...,...
26855,\n07:49\n,17.11.2022 07:49:37 UTC+01:00,
26856,\n07:56\n,17.11.2022 07:56:27 UTC+01:00,\nДнепропетровск! @rosich_ru\n
26857,\n07:56\n,17.11.2022 07:56:28 UTC+01:00,
26858,\n07:57\n,17.11.2022 07:57:56 UTC+01:00,"\n⚡️ПОЛЬША, СТАВЬТЕ СЕЙЧАС ПЗРК НА ТРАКТОРЫ, У..."
26859,\n08:00\n,17.11.2022 08:00:51 UTC+01:00,\nКиев - ебануло!@rosich_ru\n

In [27]:
# split time_tt to date and time
df['date'] = df['time_tt'].str.split(' ').str[0]
df['time'] = df['time_tt'].str.split(' ').str[1]

# to datetime format from 12.07.2023 where 12 is a day, 07 is a month, 2023 is a year to 2023-07-12
df['date_tt'] = pd.to_datetime(df['date'], format='%d.%m.%Y')

# remove \n from text
df['text'] = df['text'].str.replace('\n', '')
df

,time,time_tt,text,date,date_tt
0,19:27:47,13.10.2023 19:27:47 UTC+01:00,"Минздрав сектора Газа сообщил, что эвакуирует ...",13.10.2023,2023-10-13
1,22:26:55,13.10.2023 22:26:55 UTC+01:00,Политическая кафедра западного университета дв...,13.10.2023,2023-10-13
2,22:30:34,13.10.2023 22:30:34 UTC+01:00,А Мерседес не хочет уйти с Израильского рынка?...,13.10.2023,2023-10-13
3,06:01:25,14.10.2023 06:01:25 UTC+01:00,Нетаньяху: действия Израиля в секторе Газа — э...,14.10.2023,2023-10-14
4,09:09:06,14.10.2023 09:09:06 UTC+01:00,,14.10.2023,2023-10-14
...,...,...,...,...,...
26855,07:49:37,17.11.2022 07:49:37 UTC+01:00,,17.11.2022,2022-11-17
26856,07:56:27,17.11.2022 07:56:27 UTC+01:00,Днепропетровск! @rosich_ru,17.11.2022,2022-11-17
26857,07:56:28,17.11.2022 07:56:28 UTC+01:00,,17.11.2022,2022-11-17
26858,07:57:56,17.11.2022 07:57:56 UTC+01:00,"⚡️ПОЛЬША, СТАВЬТЕ СЕЙЧАС ПЗРК НА ТРАКТОРЫ, УКР...",17.11.2022,2022-11-17
26859,08:00:51,17.11.2022 08:00:51 UTC+01:00,Киев - ебануло!@rosich_ru,17.11.2022,2022-11-17

In [28]:
### REGEX for crypto 

crypto_bitcoin = "BTC:\s(bc1[a-zA-Z0-9]{25,41})"
crypto_bitcoin_cash = "BCH:\s(q|p)[a-zA-Z0-9]{41}"
crypto_bitcoin2 = "BTC:\s(bc1[a-zA-Z0-9]{25,41})"


 
crypto_ethereum = "0x[a-fA-F0-9]{40}$" # ru
crypto_litecoin = "^[LM3][a-km-zA-HJ-NP-Z1-9]{26,33}$"
crypto_dash = "^X[1-9A-HJ-NP-Za-km-z]{33}$" # ru
crypto_ripple = "^r[0-9a-zA-Z]{24,34}$"
crypto_monero = "^4[0-9AB][1-9A-HJ-NP-Za-km-z]{93}$"
crypto_nem = "^N[A-Z0-9]{33}$"
crypto_neo = "^A[0-9a-zA-Z]{33}$"
crypto_iota = "^9[A-Z]{27}$"
crypto_zcash = "^t1[a-zA-Z0-9]{33}$"
crypto_dogecoin = "^[DQ][1-9A-HJ-NP-Za-km-z]{33,34}$"
crypto_binance = "^bnb1[a-z0-9]{38}$"
crypto_cardano = "^addr1[0-9a-zA-Z]{58}$"
crypto_tether = "^1[0-9A-Za-z]{33}$"
crypto_stellar = "^G[A-Z0-9]{55}$"
crypto_tron = "^T[0-9a-zA-Z]{33}$" # ru 
crypto_eos = "^EOS[0-9a-zA-Z]{40}$"

In [29]:
# find crypto crypto_bitcoin in text

# str.find many crypto in text crypto_bitcoin, crypto_ethereum, crypto_litecoin, crypto_dash, crypto_ripple, crypto_monero, crypto_nem, crypto_neo, crypto_iota, crypto_zcash, crypto_dogecoin, crypto_binance, crypto_cardano, crypto_tether, crypto_stellar, crypto_tron, crypto_eos
df['crypto_bitcoin'] = df['text'].str.findall(crypto_bitcoin)
df['crypto_bitcoin_cash'] = df['text'].str.findall(crypto_bitcoin_cash)
df['crypto_bitcoin2'] = df['text'].str.findall(crypto_bitcoin2)


df['crypto_ethereum'] = df['text'].str.findall(crypto_ethereum)
df['crypto_litecoin'] = df['text'].str.findall(crypto_litecoin)
df['crypto_dash'] = df['text'].str.findall(crypto_dash)
df['crypto_ripple'] = df['text'].str.findall(crypto_ripple)
df['crypto_monero'] = df['text'].str.findall(crypto_monero)
df['crypto_nem'] = df['text'].str.findall(crypto_nem)
df['crypto_neo'] = df['text'].str.findall(crypto_neo)
df['crypto_iota'] = df['text'].str.findall(crypto_iota)
df['crypto_zcash'] = df['text'].str.findall(crypto_zcash)
df['crypto_dogecoin'] = df['text'].str.findall(crypto_dogecoin)
df['crypto_binance'] = df['text'].str.findall(crypto_binance)
df['crypto_cardano'] = df['text'].str.findall(crypto_cardano)
df['crypto_tether'] = df['text'].str.findall(crypto_tether)
df['crypto_stellar'] = df['text'].str.findall(crypto_stellar)
df['crypto_tron'] = df['text'].str.findall(crypto_tron)
df['crypto_eos'] = df['text'].str.findall(crypto_eos)

In [30]:
# a columb to look for credit card numbers
df['credit_card'] = df['text'].str.findall(r'\b\d{4} \d{4} \d{4} \d{4}\b')

df

,time,time_tt,text,date,date_tt,crypto_bitcoin,crypto_bitcoin_cash,crypto_bitcoin2,crypto_ethereum,crypto_litecoin,...,crypto_iota,crypto_zcash,crypto_dogecoin,crypto_binance,crypto_cardano,crypto_tether,crypto_stellar,crypto_tron,crypto_eos,credit_card
0,19:27:47,13.10.2023 19:27:47 UTC+01:00,"Минздрав сектора Газа сообщил, что эвакуирует ...",13.10.2023,2023-10-13,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
1,22:26:55,13.10.2023 22:26:55 UTC+01:00,Политическая кафедра западного университета дв...,13.10.2023,2023-10-13,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
2,22:30:34,13.10.2023 22:30:34 UTC+01:00,А Мерседес не хочет уйти с Израильского рынка?...,13.10.2023,2023-10-13,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
3,06:01:25,14.10.2023 06:01:25 UTC+01:00,Нетаньяху: действия Израиля в секторе Газа — э...,14.10.2023,2023-10-14,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
4,09:09:06,14.10.2023 09:09:06 UTC+01:00,,14.10.2023,2023-10-14,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26855,07:49:37,17.11.2022 07:49:37 UTC+01:00,,17.11.2022,2022-11-17,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
26856,07:56:27,17.11.2022 07:56:27 UTC+01:00,Днепропетровск! @rosich_ru,17.11.2022,2022-11-17,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
26857,07:56:28,17.11.2022 07:56:28 UTC+01:00,,17.11.2022,2022-11-17,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
26858,07:57:56,17.11.2022 07:57:56 UTC+01:00,"⚡️ПОЛЬША, СТАВЬТЕ СЕЙЧАС ПЗРК НА ТРАКТОРЫ, УКР...",17.11.2022,2022-11-17,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
26859,08:00:51,17.11.2022 08:00:51 UTC+01:00,Киев - ебануло!@rosich_ru,17.11.2022,2022-11-17,[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]

In [31]:
# combine columns with crypto into one column
df['crypto'] = df['crypto_bitcoin'] + df['crypto_bitcoin_cash'] + df['crypto_bitcoin2'] + df['crypto_ethereum'] + df['crypto_litecoin'] + df['crypto_dash'] + df['crypto_ripple'] + df['crypto_monero'] + df['crypto_nem'] + df['crypto_neo'] + df['crypto_iota'] + df['crypto_zcash'] + df['crypto_dogecoin'] + df['crypto_binance'] + df['crypto_cardano'] + df['crypto_tether'] + df['crypto_stellar'] + df['crypto_tron'] + df['crypto_eos']
df

# deselect crypto columns
df = df.drop(columns=['crypto_bitcoin', 'crypto_bitcoin_cash', 'crypto_bitcoin2', 'crypto_ethereum', 'crypto_litecoin', 'crypto_dash', 'crypto_ripple', 'crypto_monero', 'crypto_nem', 'crypto_neo', 'crypto_iota', 'crypto_zcash', 'crypto_dogecoin', 'crypto_binance', 'crypto_cardano', 'crypto_tether', 'crypto_stellar', 'crypto_tron', 'crypto_eos'])
df

,time,time_tt,text,date,date_tt,credit_card,crypto
0,19:27:47,13.10.2023 19:27:47 UTC+01:00,"Минздрав сектора Газа сообщил, что эвакуирует ...",13.10.2023,2023-10-13,[],[]
1,22:26:55,13.10.2023 22:26:55 UTC+01:00,Политическая кафедра западного университета дв...,13.10.2023,2023-10-13,[],[]
2,22:30:34,13.10.2023 22:30:34 UTC+01:00,А Мерседес не хочет уйти с Израильского рынка?...,13.10.2023,2023-10-13,[],[]
3,06:01:25,14.10.2023 06:01:25 UTC+01:00,Нетаньяху: действия Израиля в секторе Газа — э...,14.10.2023,2023-10-14,[],[]
4,09:09:06,14.10.2023 09:09:06 UTC+01:00,,14.10.2023,2023-10-14,[],[]
...,...,...,...,...,...,...,...
26855,07:49:37,17.11.2022 07:49:37 UTC+01:00,,17.11.2022,2022-11-17,[],[]
26856,07:56:27,17.11.2022 07:56:27 UTC+01:00,Днепропетровск! @rosich_ru,17.11.2022,2022-11-17,[],[]
26857,07:56:28,17.11.2022 07:56:28 UTC+01:00,,17.11.2022,2022-11-17,[],[]
26858,07:57:56,17.11.2022 07:57:56 UTC+01:00,"⚡️ПОЛЬША, СТАВЬТЕ СЕЙЧАС ПЗРК НА ТРАКТОРЫ, УКР...",17.11.2022,2022-11-17,[],[]
26859,08:00:51,17.11.2022 08:00:51 UTC+01:00,Киев - ебануло!@rosich_ru,17.11.2022,2022-11-17,[],[]

In [19]:
###1. Extracting Russian (Cyrillic) Names:
df['name'] = df['text'].str.findall(r'([А-ЯЁ][а-яё]+)')
# df['name2'] = df['text'].str.findall(r'([A-Z][a-z]+)')
# df['name3'] = df['text'].str.findall(r'([A-Z][A-Z]+)')
# df['name4'] = df['text'].str.findall(r'([А-ЯЁ][А-ЯЁ]+)')
# df['name5'] = df['text'].str.findall(r'([А-ЯЁ][А-ЯЁ]+)')
# df['name6'] = df['text'].str.findall(r'([А-ЯЁ][А-ЯЁ]+)')
# Basic Cyrillic Characters: [\u0400-\u04FF]+
df['name7'] = df['text'].str.findall(r'([\u0400-\u04FF]+)')
# Word Boundary with Cyrillic Characters: \b[\u0400-\u04FF]+\b
df['name8'] = df['text'].str.findall(r'(\b[\u0400-\u04FF]+\b)')
df

,time,time_tt,text,date,date_tt,credit_card,crypto,name,name7,name8
0,09:33:43,27.10.2022 09:33:43 UTC+02:00,,27.10.2022,2022-10-27,[],[],[],[],[]
1,09:33:43,27.10.2022 09:33:43 UTC+02:00,,27.10.2022,2022-10-27,[],[],[],[],[]
2,09:56:40,27.10.2022 09:56:40 UTC+02:00,,27.10.2022,2022-10-27,[],[],[],[],[]
3,10:09:30,27.10.2022 10:09:30 UTC+02:00,Су-24 Оркестра пролетает над позициями НВФ 404...,27.10.2022,2022-10-27,[],[],"[Су, Оркестра]","[Су, Оркестра, пролетает, над, позициями, НВФ]","[Су, Оркестра, пролетает, над, позициями, НВФ]"
4,10:42:18,27.10.2022 10:42:18 UTC+02:00,❗️Воздушная тревога на Украине@rosich_ru,27.10.2022,2022-10-27,[],[],"[Воздушная, Украине]","[Воздушная, тревога, на, Украине]","[Воздушная, тревога, на, Украине]"
...,...,...,...,...,...,...,...,...,...,...
17473,15:50:52,16.11.2022 15:50:52 UTC+02:00,,16.11.2022,2022-11-16,[],[],[],[],[]
17474,16:16:26,16.11.2022 16:16:26 UTC+02:00,Морпехи ТОФа и боевой пес «Бандит».@rosich_ru@...,16.11.2022,2022-11-16,[],[],"[Морпехи, Фа, Бандит]","[Морпехи, ТОФа, и, боевой, пес, Бандит]","[Морпехи, ТОФа, и, боевой, пес, Бандит]"
17475,16:33:59,16.11.2022 16:33:59 UTC+02:00,,16.11.2022,2022-11-16,[],[],[],[],[]
17476,16:33:59,16.11.2022 16:33:59 UTC+02:00,,16.11.2022,2022-11-16,[],[],[],[],[]
17477,16:47:47,16.11.2022 16:47:47 UTC+02:00,Каменные джунгли - телеграмм канал о России и ...,16.11.2022,2022-11-16,[],[],"[Каменные, России]","[Каменные, джунгли, телеграмм, канал, о, Росси...","[Каменные, джунгли, телеграмм, канал, о, Росси..."

In [ ]:
# filter by empty crypto column
df = df[df['crypto'].map(len) > 0]

In [32]:
# split cryoto values by rows
df = df[df['crypto'].map(len) > 0]
df = df.explode('crypto')
df.to_csv('chat_Rosich_cryptoW_v2.csv', index=False, encoding='utf-8', sep=';') 
df

,time,time_tt,text,date,date_tt,credit_card,crypto
635,21:44:07,27.01.2023 21:44:07 UTC+01:00,"❗️СБОР ПОБЕДА❗️Продолжаем данный сбор, постара...",27.01.2023,2023-01-27,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
635,21:44:07,27.01.2023 21:44:07 UTC+01:00,"❗️СБОР ПОБЕДА❗️Продолжаем данный сбор, постара...",27.01.2023,2023-01-27,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
1221,22:51:17,28.10.2022 22:51:17 UTC+01:00,❗️СБОР❗️Военнослужащим армейского спецназа тре...,28.10.2022,2022-10-28,[5469 4000 4535 5711],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
1221,22:51:17,28.10.2022 22:51:17 UTC+01:00,❗️СБОР❗️Военнослужащим армейского спецназа тре...,28.10.2022,2022-10-28,[5469 4000 4535 5711],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
1728,23:33:44,21.06.2022 23:33:44 UTC+01:00,❗️СБОР РОСИЧИ❗️Для успешной работы наших спецо...,21.06.2022,2022-06-21,"[2200 1505 4552 2499, 5469 4000 4535 5711]",bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
...,...,...,...,...,...,...,...
25737,19:48:06,20.12.2022 19:48:06 UTC+01:00,❗️СБОР❗️Свиньи в ночи себя чувствуют более вал...,20.12.2022,2022-12-20,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
26289,13:47:02,01.01.2023 13:47:02 UTC+01:00,❗️СБОР❗️Недавно мой товарищ прошел курсы по уп...,01.01.2023,2023-01-01,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
26289,13:47:02,01.01.2023 13:47:02 UTC+01:00,❗️СБОР❗️Недавно мой товарищ прошел курсы по уп...,01.01.2023,2023-01-01,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
26724,22:11:00,15.11.2022 22:11:00 UTC+01:00,❗️СБОР❗️Моим братьям требуется закупить компле...,15.11.2022,2022-11-15,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z
26724,22:11:00,15.11.2022 22:11:00 UTC+01:00,❗️СБОР❗️Моим братьям требуется закупить компле...,15.11.2022,2022-11-15,[],bc1qhvhxrxadd7s2fsc4y5s40tedz95vqdugy0ey8z

In [33]:
# split credit card values by rows
df_banks = df.drop(columns=['crypto']) 
df = df[df['credit_card'].map(len) > 0]

df_banks = df_banks.explode('credit_card')


# remove white spaces from credit card numbers
df_banks['credit_card'] = df_banks['credit_card'].str.replace(' ', '')
df_banks.to_csv('chat_Rosich_banksA_v2.csv', index=False, encoding='utf-8', sep=';')
df_banks

,time,time_tt,text,date,date_tt,credit_card
635,21:44:07,27.01.2023 21:44:07 UTC+01:00,"❗️СБОР ПОБЕДА❗️Продолжаем данный сбор, постара...",27.01.2023,2023-01-27,NaN
635,21:44:07,27.01.2023 21:44:07 UTC+01:00,"❗️СБОР ПОБЕДА❗️Продолжаем данный сбор, постара...",27.01.2023,2023-01-27,NaN
1221,22:51:17,28.10.2022 22:51:17 UTC+01:00,❗️СБОР❗️Военнослужащим армейского спецназа тре...,28.10.2022,2022-10-28,5469400045355711
1221,22:51:17,28.10.2022 22:51:17 UTC+01:00,❗️СБОР❗️Военнослужащим армейского спецназа тре...,28.10.2022,2022-10-28,5469400045355711
1728,23:33:44,21.06.2022 23:33:44 UTC+01:00,❗️СБОР РОСИЧИ❗️Для успешной работы наших спецо...,21.06.2022,2022-06-21,2200150545522499
...,...,...,...,...,...,...
25737,19:48:06,20.12.2022 19:48:06 UTC+01:00,❗️СБОР❗️Свиньи в ночи себя чувствуют более вал...,20.12.2022,2022-12-20,NaN
26289,13:47:02,01.01.2023 13:47:02 UTC+01:00,❗️СБОР❗️Недавно мой товарищ прошел курсы по уп...,01.01.2023,2023-01-01,NaN
26289,13:47:02,01.01.2023 13:47:02 UTC+01:00,❗️СБОР❗️Недавно мой товарищ прошел курсы по уп...,01.01.2023,2023-01-01,NaN
26724,22:11:00,15.11.2022 22:11:00 UTC+01:00,❗️СБОР❗️Моим братьям требуется закупить компле...,15.11.2022,2022-11-15,NaN
26724,22:11:00,15.11.2022 22:11:00 UTC+01:00,❗️СБОР❗️Моим братьям требуется закупить компле...,15.11.2022,2022-11-15,NaN

In [ ]:
# split time_tt to date and time
df['date'] = df['time_tt'].str.split(' ').str[0]
df['time'] = df['time_tt'].str.split(' ').str[1]
df

In [24]:
###  TEXT ONLY ###
# filter where text is not empty
df_text = df[df['text'] != '']

# group by month and year and count number of messages
df_count_text = df_text.groupby('month_year')['text'].count()
df_count_text = df_count_text.reset_index()

# create a line plot, where x-axis is the month and year and y-axis is the number of messages
df_count_text.plot.line(x='month_year', y='text', figsize=(15, 6), title='Number of text messages per month')



### EMPTY TEXT ###
# Empty text (only images, videos, etc.)
df_images = df[df['text'] == '']

# group by month and year and count number of messages
df_count_images = df_images.groupby('month_year')['text'].count()
df_count_images = df_count_images.reset_index()

# create a line plot, where x-axis is the month and year and y-axis is the number of messages
df_count_text.plot.line(x='month_year', y='text', figsize=(15, 6), title='Number of media messages per month')

KeyError: 'month_year'